* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: auto;
}

.app {
  text-align: right;
}

.main-title {
 text-align: center;
}

.calculator-body {
  width: 700px;
  margin: auto;
}

.display {
  background: gray;
  height: 100px;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.button-panel {

}

.group {
  height: 100px;
}

.button {
  border: lightgray solid 2px;
  font-size: 2rem;
  width: 25%;
  height: 100%;
}

.zero {
  width: 50%;
}